.jumbotron{
    margin-top: 50px;
    background-color: #D3D3D3;
    color: black;
}

.btn {
    background-color: rgb(48, 131, 199);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #D3D3D3;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 300px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
}

.btn-link{
    background-color: rgb(23, 140, 250);
    color: white;
}
.btn-outline-succes{
    background-color: rgb(37, 172, 82);
    color: white;
    position: relative;
    bottom: 4px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 3px;
}