body {
  background-color: #ebebeb;
}

.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #48A5C2;
  color: black;
}

.btn {
  background-color: #3083c7;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #48A5C2;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 300px;
  margin-top: 20px;
}

.btn-reserva {
  width: 100%;
}

.btn-link {
  background-color: #178cfa;
  color: white;
}

.btn-outline-succes {
  background-color: #25ac52;
  color: white;
  position: relative;
  bottom: 4px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 3px;
}

#palabras_footer {
  color: black;
  background-color: black;
  text-decoration-color: black;
  text-emphasis-color: black;
}

.palabras_footer {
  color: black;
  background-color: black;
  text-decoration-color: black;
  text-emphasis-color: black;
}

/*# sourceMappingURL=styles.css.map */
