$yellow: #48A5C2 ;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

body{
    background-color: #ebebeb;
}

.jumbotron{
    @include margenes(50px, 0px);
    background-color: $yellow;
    color: black;
}

.btn {
    background-color: rgb(48, 131, 199);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 300px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
}

.btn-link{
    background-color: rgb(23, 140, 250);
    color: white;
}
.btn-outline-succes{
    background-color: rgb(37, 172, 82);
    color: white;
    position: relative;
    bottom: 4px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 3px;
}

#palabras_footer{
    color: black;
    background-color: black;
    text-decoration-color: black;
    text-emphasis-color: black;
} 
.palabras_footer{
    color: black;
    background-color: black;
    text-decoration-color: black;
    text-emphasis-color: black;
}