@yellow: orange;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

body {
    background-color: #ebebeb; 
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}

.btn {
    background-color: #3083c7; 
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px); 
}

.card-hotel {
    flex: 1 300px;
    .margenes(20px, 0px);
}

.btn-reserva {
    width: 100%; 
}

.btn-link {
    background-color: #178cfa;
    color: white; 
}

.btn-outline-succes {
    background-color: #25ac52;
    color: white;
    position: relative;
    bottom: 4px; 
}

.footer-address-icon {
    padding-right: 10px; 
}

.tab-content {
    padding-top: 3px; 
}