body {
  background-color: #ebebeb;
}
.jumbotron {
  background-color: orange;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  background-color: #3083c7;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: orange;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 300px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.btn-link {
  background-color: #178cfa;
  color: white;
}
.btn-outline-succes {
  background-color: #25ac52;
  color: white;
  position: relative;
  bottom: 4px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 3px;
}
